auth:
  auth-memory:
    users:
      foo:
        name: test
        password: test
store:
  memory:
    limit: 10000
uplinks:

packages:
  '${pkg_name}':
    access: $all
    publish: $all
middlewares:
  audit:
    enabled: true
log:
 - {type: stdout, format: pretty, level: debug}
listen:
  - ${local_registry}
